.jss_default_class td{padding: 1px 3px 1px 1px}
.jss_default_class .focus:hover{cursor:text;}
.jss_default_class .focus{border:1px solid black !important;cursor:text;}
.jss_default_class .number input[type="text"]{text-align:right}
.jss_default_class input[type="text"]{width:99%;height: 99%}

.jss_default_class textarea,
.jss_default_class input[type="text"],
.jss_default_class input[type="number"]{border:1px solid transparent;cursor:default;}

.jss_default_class td.cell:hover
.jss_default_class span.cell:hover {border:1px solid #aeaeae;background-color:#fefefe;}
